body {
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
    background-color: #E4F9F5;
}

.top {
  padding-top: 50px;
 position: relative;
 font-weight: normal;
}

h1 {
  margin: 0 auto 0 auto;
  font-family: 'Sacramento', cursive;
  font-size: 5.625rem;
  line-height: 1;
  color: #66BFBF;
}
h2{
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  color: #66BFBF;
}
hr{
  border-style: dotted none none;
  width: 5%;
  border-width: 5px;
  color: grey;
  margin: 50px auto 50px auto;
}
h3{
  font-family: 'Montserrat', sans-serif;
  color: #11999E;
}
p{
  font-family: 'Montserrat', sans-serif;
  line-height: 2;
}
.footer-link{
  color: #11999E;
}
.middle-container{
}
.bottom-container{
  padding: 30px;
background-color: #66BFBF;
}
.table{
  margin-left: auto;
  margin-right: auto;
  border-spacing: 10px;
  text-align: left;

}
.table1{
  margin-left: auto;
  margin-right: auto;
  border-spacing: 10px;
  text-align: left;

}
.para{
  width: 28.75rem;

}
.para1{
  width: 35rem;
  margin: 0 auto 0 auto;
}
.top-cloud{
  position: absolute;
  right: 400px;
  top: 270px;
}
.botton-cloud{
  position: absolute;
  left: 350px;
  bottom: 300px;

}
a{
  text-decoration: none;
}
.BUTTON_SLV {
   -webkit-border-radius: 20px;
   -moz-border-radius: 20px;
   border-radius: 20px;
   height: 0;
   line-height: 0;
   color: #FFFFFF;
   font-family: Arial;
   width: 9rem;
   font-size: 22px;
   font-weight: 200;
   padding: 26px;
   background-color: #11CDD4;
   text-decoration: none;
   display: inline-block;
   cursor: pointer;
   text-align: center;
}
